*{
    padding: 0px;
    margin: 0px;
}
body
{
    display: flex;
    background: gray;
}
.nav-links{
margin-top: 250px;
justify-content: space-around;
}
.nav-links li{
list-style: none;
}